# Default ignored files
.idea
/shelf/
EasySave/obj/
EasySave/bin/

/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.EasySave.iml
/modules.xml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/. v s / 
 
 O u t p u t F o l d e r / 
 
 d o t n e t - t o o l s . j s o n 
 
**/.vs/
**/OutputFolder/
dotnet-tools.json
 